<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ .Name }}</title>
        <link href="/static/output.css" rel="stylesheet" />
        <script src="/static/ssr/ssr.js" defer></script>
        <script src="/static/chart/dist/bundle.js"></script>
    </head>

    <body class="flex flex-row justify-center">
        <div
            class="w-full lg:max-w-3xl flex flex-col gap-4 mx-6"

        >
        <div>
            <div class="flex-1 flex items-center justify-center">
                <div class="w-full px-4 sm:px-6 lg:px-8">
                    <div class="bg-white rounded-lg shadow-md p-6">
                        <div class="flex items-center justify-between mb-4">
                            <h2 class="text-3xl font-bold mt-2">
                                {{ .Name }}
                            </h2>
                        </div>
                        <div class="flex items-center justify-between">
                            <a href="/analyst/{{ .AuthorSlug }}">
                            <p class="by text-gray-500">by {{ .AuthorName }}</p>
                            </a>
                            {{ if .HasSource }}
                            <a
                                class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2"
                                href="{{ .SourceLink }}"
                            >
                                Посмотреть Идею
                            </a>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            {{ $idea := . }}
            {{ range $idx, $id := .PositionIDs }}
            <div
                ssr-get="/analyst/{{ $idea.AuthorSlug }}/idea/{{ $idea.Slug }}/position/{{ $id }}"
                ssr-trigger="load"
            >
                <div class="mt-4 flex-1 flex items-center justify-center">
                    <div class="w-full px-4 sm:px-6 lg:px-8">
                        <div class="min-h-20 animate-pulse bg-white rounded-lg shadow-md p-6">
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
            <!--  -->
            {{ if .IsOwner }}
            <div class="create-buttons w-full px-4 sm:px-6 lg:px-8 mt-8 flex justify-between">
                <button
                    ssr-get="/analyst/{{ .AuthorSlug }}/idea/{{ .Slug }}/new_position"
                    ssr-target=".create-buttons"
                    ssr-swap="beforebegin"
                    class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2"
                >
                    Добавить Новую Позицию
                </button>
            </div>
            {{ end}}
        </div>
        </div>
    </div>
    </body>
</html>
