<a href="/analyst/{{ .AnalystSlug }}/idea/{{ .Slug }}">
  <div class="w-full flex-1 flex items-center justify-center">
    <div class="w-full bg-white rounded-lg shadow-md p-6">
      <div class="flex flex-row justify-between">
        <h2 class="text-xl font-bold">{{ .Name }}</h2>
        {{ if .IsActive }}
        <span
          class="text-center bg-green-100 text-green-800 px-3 py-1 rounded-full text-sm"
        >
          Активна
        </span>
        {{ else }}
        <span
          class="text-center bg-orange-100 text-orange-800 px-3 py-1 rounded-full text-sm"
        >
          Закрыта
        </span>
        {{ end }}
      </div>
    </div>
  </div>
</a>
