<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ .Name }}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
        <script src="/static/dist/bundle.js"></script>
    </head>

    <body>
        <div>
            <div class="flex-1 flex items-center justify-center">
                <div class="w-full px-4 sm:px-6 lg:px-8">
                    <div class="bg-white rounded-lg shadow-md p-6">
                        <div class="flex items-center justify-between mb-4">
                            <h2 class="text-3xl font-bold mt-2">
                                {{ .Name }}
                            </h2>
                        </div>
                        <div class="flex items-center justify-between">
                            <a href="/analyst/{{ .AuthorSlug }}">
                            <p class="by text-gray-500">by {{ .AuthorName }}</p>
                            </a>
                            <a
                                class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2"
                                href="{{ .SourceLink }}"
                            >
                                Посмотреть Идею
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            {{ range $id := .PositionIDs }}
            <div
                hx-get="/position/{{ $id }}"
                hx-trigger="load"
                hx-swap="outerHTML"
            >
                <div class="mt-4 flex-1 flex items-center justify-center">
                    <div class="w-full px-4 sm:px-6 lg:px-8">
                        <div class="animate-pulse bg-white rounded-lg shadow-md p-6">
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}

            <div class="create-buttons w-full px-4 sm:px-6 lg:px-8 mt-8 flex justify-between">
                <button
                    hx-get="/idea/{{ .ID }}/new_position"
                    hx-swap="beforebegin"
                    hx-target=".create-buttons"
                    class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2"
                >
                    Добавить Новую Позицию
                </button>
            </div>
        </div>
        </div>
    </body>
</html>
