<div>
    <style>
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Inter", sans-serif;
            --font-sans: "Inter";
        }
    </style>
    <style>
        body {
            font-family: "Inter", sans-serif;
            --font-sans: "Inter";
        }
    </style>
    <div>
        <div class="flex flex-col">
            <div class="mt-4 flex-1 flex items-center justify-center">
                <div class="w-full px-4 sm:px-6 lg:px-8">
                    <div class="bg-white rounded-lg shadow-md p-6">
                        <div class="flex items-center justify-between mb-4">
                            <h2 class="assetname text-2xl font-bold">
                                {{ .AssetName }}
                            </h2>
                            {{ if .Type | eq "LONG" }}
                            <span
                                class="bg-green-100 text-green-800 px-3 py-1 rounded-full text-sm"
                            >
                                {{ .Type }}
                            </span>
                            {{ else }}
                            <span
                                class="bg-red-100 text-red-800 px-3 py-1 rounded-full text-sm"
                            >
                                {{ .Type }}
                            </span>
                            {{ end }}
                        </div>
                        <div class="flex items-center justify-between mb-4">
                            <p class="ticker text-gray-500">{{ .Ticker }}</p>
                            {{ if.Profitable }}
                            <p class="curprice text-green-500 font-bold">
                                {{ .CurPrice }} ({{ .ProfitP }}%)
                            </p>
                            {{ else }}
                            <p class="curprice text-red-500 font-bold">
                                {{ .CurPrice }} ({{ .ProfitP }}%)
                            </p>
                            {{ end }}
                        </div>
                        <div class="chart">
                            <div id="chart-container"></div>
                            <button id="scrollBtn">>></button>
                            <script src="/static/dist/bundle.js"></script>
                        </div>
                        <div
                            class="posinfo grid grid-cols-2 auto-rows-auto gap-4 mb-6"
                        >
                            <div>
                                <p class="name text-gray-500 mb-1">
                                    Цена открытия
                                </p>
                                <p class="value text-gray-900 font-medium">
                                    {{ .OpenPrice }}
                                </p>
                            </div>
                            <div>
                                <p class="name text-gray-500 mb-1">Цель</p>
                                <p class="value text-gray-900 font-medium">
                                    {{ .TargetPrice }}
                                </p>
                            </div>
                            {{ if .Type | eq "LONG" }}
                            <div>
                                <p class="name text-gray-500 mb-1">Апсайд</p>
                                <p class="value text-green-500 font-medium">
                                    {{ .Change }} ( {{ .ChangeP }}%)
                                </p>
                            </div>
                            {{ else }}
                            <div>
                                <p class="name text-gray-500 mb-1">Даунсайд</p>
                                <p class="value text-red-500 font-medium">
                                    {{ .Change }} ( {{ .ChangeP }}%)
                                </p>
                            </div>
                            {{ end }}
                            <div>
                                <p class="name text-gray-500 mb-1">
                                    Дата открытия
                                </p>
                                <p class="value text-gray-900 font-medium">
                                    {{ .OpenDate }}
                                </p>
                            </div>
                            <div>
                                <p class="name text-gray-500 mb-1">
                                    Дата открытия
                                </p>
                                <p class="value text-gray-900 font-medium">
                                    {{ .OpenDate }}
                                </p>
                            </div>
                            {{ if .IsClosed }}
                            <div>
                                <p class="name text-gray-500 mb-1">
                                    Дата закрытия
                                </p>
                                <p class="value text-gray-900 font-medium">
                                    {{ .Deadline }}
                                </p>
                            </div>
                            <div>
                                <p class="name text-gray-500 mb-1">
                                    Цена закрытия
                                </p>
                                <p class="value text-gray-900 font-medium">
                                    {{ .Close }}
                                </p>
                            </div>
                            {{ else }}
                            <div>
                                <p class="name text-gray-500 mb-1">
                                    Срок позиции
                                </p>
                                <p class="value text-gray-900 font-medium">
                                    до {{ .Deadline }}
                                </p>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
