<div>
  <style>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Inter", sans-serif;
      --font-sans: "Inter";
    }
  </style>
  <style>
    body {
      font-family: "Inter", sans-serif;
      --font-sans: "Inter";
    }
  </style>
  <div class="position">
    <div class="flex flex-col">
      <div class="mt-4 flex-1 flex items-center justify-center">
        <div class="w-full px-4 sm:px-6 lg:px-8">
          <div class="bg-white rounded-lg shadow-md p-6">
            <div class="flex items-center justify-between mb-4">
              <h2 class="text-2xl font-bold">{{ .AssetName }}</h2>
              {{ if .Type | eq "LONG" }}
              <span
                class="bg-green-100 text-green-800 px-3 py-1 rounded-full text-sm"
              >
                {{ .Type }}
              </span>
              {{ else }}
              <span
                class="bg-red-100 text-red-800 px-3 py-1 rounded-full text-sm"
              >
                {{ .Type }}
              </span>
              {{ end }}
            </div>
            <div class="flex items-center justify-between mb-4">
              <p class="ticker text-gray-500">{{ .Ticker }}</p>
              {{ if.Profitable }}
              <p class="curprice text-green-500 font-bold">
                {{ .CurPrice }} ({{ .ProfitP }}%)
              </p>
              {{ else }}
              <p class="curprice text-red-500 font-bold">
                {{ .CurPrice }} ({{ .ProfitP }}%)
              </p>
              {{ end }}
            </div>
            <chart-component
              url="http://localhost:8080/chart-data/{{ .Ticker }}/from/{{ .OpenDate | chartDateFormat }}/to/{{ .Deadline | chartDateFormat }}"
            ></chart-component>
            <div class="posinfo grid grid-cols-2 auto-rows-auto gap-4 mb-6">
              <div>
                <p class="name text-gray-500 mb-1">Цена открытия</p>
                <p class="value text-gray-900 font-medium">{{ .OpenPrice }}</p>
              </div>
              <div>
                <p class="name text-gray-500 mb-1">Цель</p>
                <p class="value text-gray-900 font-medium">
                  {{ .TargetPrice }}
                </p>
              </div>
              {{ if .IsClosed }}
              <!--  -->
              {{ if .Profitable }}
              <div>
                <p class="name text-gray-500 mb-1">Доходность</p>
                <p class="value text-green-500 font-medium">
                  {{ .Change }} ( {{ .ChangeP }}%)
                </p>
              </div>
              {{ else }}
              <div>
                <p class="name text-gray-500 mb-1">Убыток</p>
                <p class="value text-red-500 font-medium">
                  {{ .Change }} ( {{ .ChangeP }}%)
                </p>
              </div>
              {{ end }} {{ else }}
              <!--  -->
              {{ if .Type | eq "LONG" }}
              <div>
                <p class="name text-gray-500 mb-1">Апсайд</p>
                <p class="value text-green-500 font-medium">
                  {{ .Change }} ( {{ .ChangeP }}%)
                </p>
              </div>
              {{ else }}
              <div>
                <p class="name text-gray-500 mb-1">Даунсайд</p>
                <p class="value text-red-500 font-medium">
                  {{ .Change }} ( {{ .ChangeP }}%)
                </p>
              </div>
              {{ end }} {{ end }}
              <div>
                <p class="name text-gray-500 mb-1">Дата открытия</p>
                <p class="value text-gray-900 font-medium">
                  {{ .OpenDate | ruDateFormat}}
                </p>
              </div>
              {{ if .IsClosed }}
              <div>
                <p class="name text-gray-500 mb-1">Дата закрытия</p>
                <p class="value text-gray-900 font-medium">
                  {{ .Deadline | ruDateFormat }}
                </p>
              </div>
              <div>
                <p class="name text-gray-500 mb-1">Цена закрытия</p>
                <p class="value text-gray-900 font-medium">{{ .ClosePrice }}</p>
              </div>
              {{ else }}
              <div>
                <p class="name text-gray-500 mb-1">Срок позиции</p>
                <p class="value text-gray-900 font-medium">
                  до {{ .Deadline | ruDateFormat }}
                </p>
              </div>
              {{ end }}
            </div>

            {{ if and .IsOwner (not .IsClosed) }}
            <button
              hx-get="/analyst/{{ .AuthorSlug }}/idea/{{ .IdeaSlug }}/edit_position/{{ .ID }}"
              hx-target="closest .position"
              class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 pr-4 py-2"
            >
              Редактировать позицию
            </button>
            {{ end}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
