<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>position</title>
    <link href="/static/output.css" rel="stylesheet" />
  </head>

  <body>
    <div class="flex flex-col items-center justify-center align-middle">
      <h1 class="font-bold">
        Неверный токен авторизации. Попросите новый токен, если хотите создавать
        идеи.
      </h1>
      <p>TODO: добавить сюда предложение ввести токен</p>
    </div>
  </body>
</html>
