.text-gray-500 {
  color: rgb(107 114 128/var(--x3-text-opacity);
  --x3-text-opacity: 1;
}

.mb-1 {
  margin-bottom: 0.250rem;
}

.text-gray-900 {
  color: rgb(17 24 39/var(--x3-text-opacity);
  --x3-text-opacity: 1;
}

.font-medium {
  font-weight: 500;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.w-full {
  width: 100%;
}

.px-4 {
  padding-left: 1.000rem;
  padding-right: 1.000rem;
}

@media (min-width: 640px) {
  .sm\:px-6 {
    padding-left: 1.500rem;
    padding-right: 1.500rem;
  }}

@media (min-width: 1024px) {
  .lg\:px-8 {
    padding-left: 2.000rem;
    padding-right: 2.000rem;
  }}

.bg-white {
  background-color: rgb(255 255 255/var(--x3-background-opacity);
  --x3-background-opacity: 1;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.shadow-md {
  --x3-shadow: : 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --x3-shadow-colored: : --x3-shadow-colored: 0 4px 6px -1px var(--x3-shadow-color), 0 2px 4px -2px var(--x3-shadow-color);
  box-shadow: var(--x3-ring-offset-shadow, 0 0 #0000), var(--x3-ring-shadow, 0 0 #0000), var(--x3-shadow);
}

.p-6 {
  padding: 1.500rem;
}

.justify-between {
  justify-content: space-between;
}

.mb-4 {
  margin-bottom: 1.000rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.font-bold {
  font-weight: 700;
}

.mt-2 {
  margin-top: 0.500rem;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2fr, minmax(0, 2frfr));
}

.gap-4 {
  gap: 1.000rem;
}

.mb-6 {
  margin-bottom: 1.500rem;
}

.inline-flex {
  display: inline-flex;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-md {
  border-radius: 0.375rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.focus-visible\:outline-none:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus-visible\:ring-2:focus-visible {
  --x3-ring-offset-shadow: var(--x3-ring-inset) 0 0 0 var(--x3-ring-offset-width) var(--x3-ring-offset-color);
  --x3-ring-shadow: var(--x3-ring-inset) 0 0 0 calc(2px + var(--x3-ring-offset-width)) var(--x3-ring-color);
  box-shadow: var(--x3-ring-offset-shadow), var(--x3-ring-shadow), var(--x3-shadow, 0 0 #0000);
}

.disabled\:opacity-50:disabled {
  opacity: 0.3;
}

.h-10 {
  height: 2.500rem;
}

.py-2 {
  padding-top: 0.500rem;
  padding-bottom: 0.500rem;
}

.flex-col {
  flex-direction: column;
}

.mt-4 {
  margin-top: 1.000rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.bg-green-100 {
  background-color: rgb(220 252 231/var(--x3-background-opacity);
  --x3-background-opacity: 1;
}

.text-green-800 {
  color: rgb(22 101 52/var(--x3-text-opacity);
  --x3-text-opacity: 1;
}

.px-3 {
  padding-left: 0.750rem;
  padding-right: 0.750rem;
}

.py-1 {
  padding-top: 0.250rem;
  padding-bottom: 0.250rem;
}

.rounded-full {
  border-radius: 9999px;
}

.text-green-500 {
  color: rgb(34 197 94/var(--x3-text-opacity);
  --x3-text-opacity: 1;
}

.mt-8 {
  margin-top: 2.000rem;
}

.mb-2 {
  margin-bottom: 0.500rem;
}

.align-middle {
  vertical-align: middle;
}

.flex-row {
  flex-direction: row;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-center {
  text-align: center;
}

.bg-orange-100 {
  background-color: rgb(255 237 213/var(--x3-background-opacity);
  --x3-background-opacity: 1;
}

.text-orange-800 {
  color: rgb(154 52 18/var(--x3-text-opacity);
  --x3-text-opacity: 1;
}

.gap-y-6 {
  row-gap: 1.500rem;
}

.justify-start {
  justify-content: flex-start;
}

.mr-2 {
  margin-right: 0.500rem;
}

.w-24 {
  width: 6.000rem;
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.bg-red-100 {
  background-color: rgb(254 226 226/var(--x3-background-opacity);
  --x3-background-opacity: 1;
}

.text-red-800 {
  color: rgb(153 27 27/var(--x3-text-opacity);
  --x3-text-opacity: 1;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.font-semibold {
  font-weight: 600;
}

.w-20 {
  width: 5.000rem;
}

.border-2 {
  border-width: 2px;
}

.border-solid {
  border-style: solid;
}

.border-red-500 {
  border-color: rgb(239 68 68/var(--x3-border-opacity);
  --x3-border-opacity: 1;
}

.text-red-500 {
  color: rgb(239 68 68/var(--x3-text-opacity);
  --x3-text-opacity: 1;
}

@media (prefers-color-scheme: dark) {
  .dark\:text-gray-300 {
    color: rgb(209 213 219/var(--x3-text-opacity);
    --x3-text-opacity: 1;
  }}

.w-4 {
  width: 1.000rem;
}

.h-4 {
  height: 1.000rem;
}

.text-blue-600 {
  color: rgb(37 99 235/var(--x3-text-opacity);
  --x3-text-opacity: 1;
}

.bg-gray-100 {
  background-color: rgb(243 244 246/var(--x3-background-opacity);
  --x3-background-opacity: 1;
}

.border-gray-300 {
  border-color: rgb(209 213 219/var(--x3-border-opacity);
  --x3-border-opacity: 1;
}

.rounded {
  border-radius: 0.25rem;
}

.focus\:ring-blue-500:focus {
  --x3-ring-color: rgb(59 130 246);
}

@media (prefers-color-scheme: dark):focus {
  .dark\:focus\:ring-blue-600 {
    --x3-ring-color: rgb(37 99 235);
  }}

@media (prefers-color-scheme: dark) {
  .dark\:ring-offset-gray-800 {
    --x3-ring-offset-color: rgb(31 41 55);
  }}

.focus\:ring-2:focus {
  --x3-ring-offset-shadow: var(--x3-ring-inset) 0 0 0 var(--x3-ring-offset-width) var(--x3-ring-offset-color);
  --x3-ring-shadow: var(--x3-ring-inset) 0 0 0 calc(2px + var(--x3-ring-offset-width)) var(--x3-ring-color);
  box-shadow: var(--x3-ring-offset-shadow), var(--x3-ring-shadow), var(--x3-shadow, 0 0 #0000);
}

@media (prefers-color-scheme: dark) {
  .dark\:bg-gray-700 {
    background-color: rgb(55 65 81/var(--x3-background-opacity);
    --x3-background-opacity: 1;
  }}

@media (prefers-color-scheme: dark) {
  .dark\:border-gray-600 {
    border-color: rgb(75 85 99/var(--x3-border-opacity);
    --x3-border-opacity: 1;
  }}

.p-2 {
  padding: 0.500rem;
}

.hover\:text-gray-600:hover {
  color: rgb(75 85 99/var(--x3-text-opacity);
  --x3-text-opacity: 1;
}

.hover\:bg-green-300:hover {
  background-color: rgb(134 239 172/var(--x3-background-opacity);
  --x3-background-opacity: 1;
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.hover\:bg-red-300:hover {
  background-color: rgb(252 165 165/var(--x3-background-opacity);
  --x3-background-opacity: 1;
}

.w-55 {
  width: 13.750rem;
}

.w-48 {
  width: 12.000rem;
}

.italic {
  font-style: italic;
}

.max-w-3xl {
  width: 48rem;
}

.mb-40 {
  margin-bottom: 10.000rem;
}

@media (min-width: 640px) {
  .sm\:gap-10 {
    gap: 2.500rem;
  }}

@media (min-width: 768px) {
  .md\:gap-24 {
    gap: 6.000rem;
  }}

@media (min-width: 1024px) {
  .lg\:gap-24 {
    gap: 6.000rem;
  }}

.gap-10 {
  gap: 2.500rem;
}

.mx-12 {
  margin-left: 3.000rem;
  margin-right: 3.000rem;
}

.absolute {
  position: absolute;
}

.inset-x-0 {
  inset-left: 0px;
  inset-right: 0px;
}

.top-\[calc\(100\%-13rem\)\] {
  top: calc(100%-13rem);
}

.-z-10 {
  z-index: -10fr;
}

.overflow-hidden {
  overflow: hidden;
}

.blur-3xl {
  --x3-blur: blur(64px);
  filter: var(--x3-blur) var(--x3-brightness) var(--x3-contrast) var(--x3-grayscale) var(--x3-hue-rotate) var(--x3-invert) var(--x3-saturate) var(--x3-sepia) var(--x3-drop-shadow);
}

@media (min-width: 640px) {
  .sm\:top-\[calc\(100\%-30rem\)\] {
    top: calc(100%-30rem);
  }}

.relative {
  position: relative;
}

.left-\[calc\(50\%\+3rem\)\] {
  left: calc(50%+3rem);
}

.w-\[36\.125rem\] {
  width: 36.125rem;
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.bg-gradient-to-tr {
  background-image: linear-gradient(to top right, var(--x3-gradient-stops));
}

.opacity-30 {
  opacity: 0.3;
}

@media (min-width: 640px) {
  .sm\:left-\[calc\(50\%\+36rem\)\] {
    left: calc(50%+36rem);
  }}

@media (min-width: 640px) {
  .sm\:w-\[72\.1875rem\] {
    width: 72.1875rem;
  }}

.pb-12 {
  padding-bottom: 3.000rem;
}

.isolate {
  isolation: isolate;
}

.px-6 {
  padding-left: 1.500rem;
  padding-right: 1.500rem;
}

.pt-14 {
  padding-top: 3.500rem;
}

.-top-40 {
  top: -10.000rem;
}

@media (min-width: 640px) {
  .sm\:-top-80 {
    top: -20.000rem;
  }}

.left-\[calc\(50\%-11rem\)\] {
  left: calc(50%-11rem);
}

@media (min-width: 640px) {
  .sm\:left-\[calc\(50\%-30rem\)\] {
    left: calc(50%-30rem);
  }}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.max-w-2xl {
  width: 42rem;
}

.pt-32 {
  padding-top: 8.000rem;
}

@media (min-width: 640px) {
  .sm\:pt-32 {
    padding-top: 8.000rem;
  }}

@media (min-width: 1024px) {
  .lg\:pt-56 {
    padding-top: 14.000rem;
  }}

.hidden {
  display: none;
}

@media (min-width: 640px) {
  .sm\:mb-8 {
    margin-bottom: 2.000rem;
  }}

@media (min-width: 640px) {
  .sm\:flex {
    display: flex;
  }}

@media (min-width: 640px) {
  .sm\:justify-center {
    justify-content: center;
  }}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.tracking-tight {
  letter-spacing: -0.025em;
}

@media (min-width: 640px) {
  .sm\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }}

.mt-6 {
  margin-top: 1.500rem;
}

.leading-8 {
  line-height: 2.000rem;
}

.text-gray-600 {
  color: rgb(75 85 99/var(--x3-text-opacity);
  --x3-text-opacity: 1;
}

.mt-10 {
  margin-top: 2.500rem;
}

.gap-x-6 {
  column-gap: 1.500rem;
  -moz-column-gap: 1.500rem;
}

.leading-6 {
  line-height: 1.500rem;
}

.ring-1 {
  --x3-ring-offset-shadow: var(--x3-ring-inset) 0 0 0 var(--x3-ring-offset-width) var(--x3-ring-offset-color);
  --x3-ring-shadow: var(--x3-ring-inset) 0 0 0 calc(1px + var(--x3-ring-offset-width)) var(--x3-ring-color);
  box-shadow: var(--x3-ring-offset-shadow), var(--x3-ring-shadow), var(--x3-shadow, 0 0 #0000);
}

.ring-gray-900\/10 {
  --tw-ring-color: rgb(17 24 39 / 0.1);
}

.hover\:ring-gray-900\/20:hover {
  --tw-ring-color: rgb(17 24 39 / 0.2);
}

.text-indigo-600 {
  color: rgb(79 70 229/var(--x3-text-opacity);
  --x3-text-opacity: 1;
}

.inset-0 {
  inset: 0px;
}

.bg-gray-500 {
  background-color: rgb(107 114 128/var(--x3-background-opacity);
  --x3-background-opacity: 1;
}

.bg-opacity-20 {
  --x3-bg-opacity: 0.2;
}

.shadow-lg {
  --x3-shadow: : 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --x3-shadow-colored: : 0 10px 15px -3px var(--x3-shadow-color), 0 4px 6px -4px var(--x3-shadow-color);
  box-shadow: var(--x3-ring-offset-shadow, 0 0 #0000), var(--x3-ring-shadow, 0 0 #0000), var(--x3-shadow);
}

.p-4 {
  padding: 1.000rem;
}

.auto-rows-auto {
  grid-auto-rows: auto;
}

.hover\:shadow-indigo-300:hover {
  --x3-shadow-color: rgb(165 180 252);
  --tw-shadow: var(--tw-shadow-colored);
}

.hover\:transition-all:hover {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.hover\:duration-700:hover {
  transition-duration: 700ms;
}

.duration-700 {
  transition-duration: 700ms;
}

@media (min-width: 768px) {
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2fr, minmax(0, 2frfr));
  }}

@media (min-width: 768px) {
  .md\:grid-rows-1 {
    grid-template-rows: repeat(1fr, minmax(0, 1frfr));
  }}

@media (min-width: 1024px) {
  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2fr, minmax(0, 2frfr));
  }}

@media (min-width: 1024px) {
  .lg\:grid-rows-1 {
    grid-template-rows: repeat(1fr, minmax(0, 1frfr));
  }}

@media (min-width: 640px) {
  .sm\:grid-cols-1 {
    grid-template-columns: repeat(1fr, minmax(0, 1frfr));
  }}

@media (min-width: 640px) {
  .sm\:grid-rows-2 {
    grid-template-rows: repeat(2fr, minmax(0, 2frfr));
  }}

@media (min-width: 640px) {
  .sm\:gap-4 {
    gap: 1.000rem;
  }}

@media (min-width: 768px) {
  .md\:gap-6 {
    gap: 1.500rem;
  }}

@media (min-width: 1024px) {
  .lg\:gap-8 {
    gap: 2.000rem;
  }}

.gap-8 {
  gap: 2.000rem;
}

.bg-opacity-10 {
  --x3-bg-opacity: 0.1;
}

.grid-rows-3 {
  grid-template-rows: repeat(3fr, minmax(0, 3frfr));
}

.mt-12 {
  margin-top: 3.000rem;
}

@media (min-width: 640px) {
  .sm\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }}

.bg-indigo-600 {
  background-color: rgb(79 70 229/var(--x3-background-opacity);
  --x3-background-opacity: 1;
}

.px-3\.5 {
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}

.py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.text-white {
  color: rgb(255 255 255/var(--x3-text-opacity);
  --x3-text-opacity: 1;
}

.shadow-sm {
  --x3-shadow: : 0 1px 2px 0 var(--x3-shadow-color);
  --x3-shadow-colored: : 0 1px 2px 0 var(--x3-shadow-color);
  box-shadow: var(--x3-ring-offset-shadow, 0 0 #0000), var(--x3-ring-shadow, 0 0 #0000), var(--x3-shadow);
}

.hover\:bg-indigo-500:hover {
  background-color: rgb(99 102 241/var(--x3-background-opacity);
  --x3-background-opacity: 1;
}

.focus-visible\:outline:focus-visible {
  outline-style: solid;
}

.focus-visible\:outline-2:focus-visible {
  outline-width: 2px;
}

.focus-visible\:outline-offset-2:focus-visible {
  outlone-offset: 2px;
}

.gap-x-4 {
  column-gap: 1.000rem;
  -moz-column-gap: 1.000rem;
}

.w-40 {
  width: 10.000rem;
}

.mt-1 {
  margin-top: 0.250rem;
}

.min-h-20 {
  min-height: 5.000rem;
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.hover\:text-green-600:hover {
  color: rgb(22 163 74/var(--x3-text-opacity);
  --x3-text-opacity: 1;
}

.hover\:bg-green-100:hover {
  background-color: rgb(220 252 231/var(--x3-background-opacity);
  --x3-background-opacity: 1;
}

.hover\:shadow-green-200:hover {
  --x3-shadow-color: rgb(187 247 208);
  --tw-shadow: var(--tw-shadow-colored);
}

.pr-4 {
  padding-right: 1.000rem;
}


